.AnswerItem{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.AnswerItem:hover{
    background: rgba(255,255,255,.2);
    transition: all .3s ease-in-out;
}
.red{
    background-color: red;
    &:hover{
        background-color: red;
    }
}
.green{
    background-color: green;
    &:hover{
        background-color: green;
    }
}