.ActiveQuiz{
    border: 2px solid #fff;
    padding: 20px;
    color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    box-sizing: border-box;
}
.Question{
    display: flex;
    justify-content: space-between;
}